.userScore {
  display: flex;
  align-items: center;
  margin-top: 10px;
  .userScoreValue {
    background-color: #fd7014;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: 500;
    margin-right: 5px;
    span {
      font-size: 10px;
    }
  }
  span {
    font-size: 18px;
    font-weight: 500;
  }
}
